@charset "UTF-8";
        body{
            background-color: antiquewhite;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 20px;
        }
        h1{
            color: chocolate;
            background-color: burlywood;
        }
        h2{
            color: crimson;
        }
        p{
            text-align: justify;
        }
    